/* TreeStructure.css */
.tree-container {
    padding: 20px;
   
  }
  
  .tree-structure {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .tree-node {
    margin: 5px 0;
  }
  
  .node-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .toggle-icon {
    margin-right: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .node-name {
    font-weight: bold;
  }
  
  .node-children {
    padding-left: 20px;
  }
  